<div *ngIf="mensagemalerta != ''" class="alert alert-warning mensagem" role="alert">
  {{ mensagemalerta }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="mensagemdanger != ''" class="alert alert-danger mensagem" role="alert">
  {{ mensagemdanger }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="card" style="width: 100%;">
  <div class="form-group col-md-4">
    <h1>Pessoas x Jogos</h1>
    <p>Relacionamento das pessoas com os seus jogos</p>
  </div>

  <hr>
  <div class="card-body">
    <div class="form-row">
      <div class="container m-4">
        <form [formGroup]="select">
          <label for="Selecione uma pessoa:">Selecione uma pessoa:</label>
          <select class="form-control" formControlName="select">
            <option value="">Selecione</option>
            <option [ngValue]="pessoa" *ngFor="let pessoa of pessoas">{{
              pessoa.nome
            }}</option>
          </select>
        </form>
      </div>

      <div class="container m-4">
        <form [formGroup]="select2">
          <label for="Selecione um jogo:">Selecione um jogo:</label>
          <select class="form-control" formControlName="select">
            <option value="">Selecione</option>
            <option [ngValue]="jogo" *ngFor="let jogo of jogos">{{
              jogo.nome
            }}</option>
          </select>
        </form>
      </div>
    </div>
    <button type="button" (click)="adcionarItem();" class="btn btn-success">Adicionar</button>
  </div>

  <hr>

  <div class="col-md-12">
    <table class='table table-striped' *ngIf="jogosxpessoas">
      <thead>
        <tr>
          <th>Pessoa</th>
          <th>Jogo</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jxp of jogosxpessoas">
          <td>{{ jxp.nomePessoa }}</td>
          <td>{{ jxp.nomeJogo }}</td>
          <td><button (click)="removerPessoXJogos(jxp);" class="btn btnRemover"><i class="fa fa-close"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
