<p *ngIf="!forecasts"><em>Loading...</em></p>

<div class="card" style="width: 100%;">
  <div class="form-group col-md-4">
    <h1>Jogos emprestados </h1>
    <p>Jogos emprestados para quais pessoas</p>
  </div>

  <table class='table table-striped' *ngIf="forecasts">
    <thead>
      <tr>
        <th>Data Emprestimo</th>
        <th>Com quem está</th>
        <th>De quem é</th>
        <th>Qual jogo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
</div>