<p *ngIf="!jogosxpessoas"><em>Loading...</em></p>

<div class="card" style="width: 100%;">
  <div class="form-group col-md-4">
    <h1>Jogos emprestados </h1>
    <p>Jogos emprestados para quais pessoas</p>
  </div>

  <div class="col-md-12">
    <table class='table table-striped' *ngIf="jogosxpessoas">
      <thead>
        <tr>
          <th>Data Emprestimo</th>          
          <th>Jogo</th>
          <th>De quem</th>
          <th>Pra quem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jxp of jogosxpessoas">

          <td>{{ jxp.dataEmprestimo | date: 'dd/MM/yyyy' }}</td>          
          <td>{{ jxp.jogo }}</td>
          <td>{{ jxp.deQuem }}</td>
          <td>{{ jxp.praQuem }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
