<div class="card" style="width: 100%;">
  <div class="form-group col-md-4">
    <h1>Pessoas</h1>
    <p>Cadastro de pessoas</p>
  </div>

  <hr>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="comanda">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="Nome" id="Nome" aria-describedby="nomeHelp">
        <small id="nomeHelp" class="form-text text-muted">Entre com o nome da pessoa</small>
      </div>
    </div>
    <button type="button" (click)="adcionarItem();" class="btn btn-success">Salvar</button>
  </div>

  <hr>

  <div class="col-md-12">
    <table class='table table-striped' *ngIf="pessoas">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{ pessoa.nome }}</td>
          <td>
            <button (click)="editarPessoas(pessoa);" class="btn btnEditar"><i class="fa fa-pencil"></i></button>
          </td>
          <td><button (click)="removerPessoas(pessoa);" class="btn btnRemover"><i class="fa fa-close"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
